<nav class="header__nav">
    <a href="@Url.Action("Index","bildir")" >Bildir</a>
    <a href="@Url.Action("Index","frekanslar")" >Frekanslar</a>
    <a href="@Url.Action("Index","uygulamalar")">Uygulamalar</a>
    <a href="@Url.Action("Index","reklam-ve-isbirligi")">Reklam & İş Birliği</a>
    <a href="@Url.Action("Index","contacts")">Bize Ulaşın</a>
</nav>