@model RadioApiListeViewModel
<div class="small-header affix-top">
    <div class="mb-4">
        <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
            <div class="pull-left">
                <h4 class="m-b-xs">
                    <label asp-for="@Model.title" as></label>
                </h4>
                <small>Yeni nesil panelde masaüstü ve mobil aygıtlarda hızlı bir şekilde veri ekleyebilir ve düzenleyebilirsiniz.</small>
            </div>
            <div class="btn-group pull-right">
                <button name="geri_don" type="button" value="Geri Dön" onclick="javascript:window.history.go(-1);" class="btn btn-primary btn-sm"><i class="fa fa-angle-left"></i>&nbsp;Geri Dön</button>
                <div class="btn-group">
                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        İşlemler
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a asp-action="Create"><i class="fa fa-plus"></i>&nbsp;Yeni Ekle</a>
                        </li>
                        <li class="split"></li>
                        <li>
                            <a asp-action="Index"><i class="fa fa-list"></i>&nbsp;Tüm Kayıtlar</a>
                        </li>
                    </ul>
                </div>
                <input type="submit" value="KAYDET" class="btn btn-success btn-sm" />
            </div>
        </div>
    </div>
</div>

<div class="card-body">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="RadioApi.radioApiId" asp-for="RadioApi.radioApiId" value="@Model.RadioApi.radioApiId">


    <div class="form-group">
        <label asp-for="RadioApi.title" class="control-label"></label>
        <input asp-for="RadioApi.title" class="form-control" />
        <span asp-validation-for="RadioApi.title" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="RadioApi.programStatus" /> @Html.DisplayNameFor(model => model.RadioApi.programStatus)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="RadioApi.topmusiclistStatus" /> @Html.DisplayNameFor(model => model.RadioApi.topmusiclistStatus)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="RadioApi.podcastStatus" /> @Html.DisplayNameFor(model => model.RadioApi.podcastStatus)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="RadioApi.broadcastStatus" /> @Html.DisplayNameFor(model => model.RadioApi.broadcastStatus)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="RadioApi.frequencyStatus" /> @Html.DisplayNameFor(model => model.RadioApi.frequencyStatus)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="RadioApi.djStatus" /> @Html.DisplayNameFor(model => model.RadioApi.djStatus)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="RadioApi.status" /> @Html.DisplayNameFor(model => model.RadioApi.status)
        </label>
    </div>
    <div class="form-group">
        <label asp-for="RadioApi.securitykey" class="control-label"></label>
        <input asp-for="RadioApi.securitykey" class="form-control" />
        <span asp-validation-for="RadioApi.securitykey" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="KAYDET" class="btn btn-primary" />
    </div>
</div>
