@model NewsViewListModel
@{
    ViewData["Title"] = Model.title;
}

<!-- main content -->
    <div class="row row--grid news-background">
        <!-- title -->
        <div class="col-6">
            <div class="main__title main__title--page">
                <h1>@Model.title</h1>
            </div>
        </div>
        <!-- end title -->
        <!-- breadcrumb -->
        <div class="col-6">
            <ul class="breadcrumb">
                <li class="breadcrumb__item"><a asp-controller="Home">Anasayfa</a></li>
                <li class="breadcrumb__item breadcrumb__item--active">@Model.title</li>
            </ul>
        </div>
        <!-- end breadcrumb -->
    </div>

    <div class="row row--grid">
        <div class="col-12">
            <div class="main__filter">
                <form action="#" class="main__filter-search">
                    <input type="text" placeholder="haber ara ...">
                    <button type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z" /></svg></button>
                </form>

                <div class="main__filter-wrap">

                    <select id="select_id" class="main__select">
                        <option value="all">All genres</option>
                        @foreach (var item in Model.NewsCategories)
                        {
                            <option value="@Url.RouteUrl("NewsCategory", new { @categoryUrl = item.url})"> @item.title</option>
                        }
                    </select>
                </div>

                <div class="slider-radio">
                    <input type="radio" name="grade" id="featured" checked="checked"><label for="featured">Featured</label>
                    <input type="radio" name="grade" id="popular"><label for="popular">Popular</label>
                    <input type="radio" name="grade" id="newest"><label for="newest">Newest</label>
                </div>
            </div>

            <div class="row row--grid" id="ajax-main">

                @Html.Partial("_newslist", Model)
            </div>
        </div>
    </div>

</div>
<!-- end main content -->

@section scripts
{
    <script type="text/javascript">
        var pageNo = 1;
        $('#select_id').change(function () {
            window.location.href = $(this).val();
        })
    </script>

    <script type="text/javascript">
        var pageNo = 1;
        var isPageLoad = true;
        $(window).scroll(function () {
            if (Math.ceil($(window).scrollTop()) == $(document).height() - Math.ceil($(window).height())) {
                if (isPageLoad) {
                    $("#loading").show();
                    $.ajax({
                        url: '/News/FullNewsListAjax',
                        data: { page: pageNo },
                        success: function (data) {
                            $("#ajax-main").append(data);
                            $("#loading").hide();
                            pageNo++;
                            if ($.trim(data) == '') {
                                isPageLoad = false;
                            }
                        }
                    });
                }
            }
        });
    </script>
}

