@model NewsListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/ysadmin/Views/Shared/_Layout.cshtml";
}

@section Style {
    <link href="/npanel/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">



}

<div class="card shadow mb-4">
    @using (Html.BeginForm("Index", "News", FormMethod.Get))
    {
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <select name="limit" asp-for="@Model.Limit" id="limit" class="select limit_kriter form-control input-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="250">250</option>
                    </select>
                </div>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)Model.Categories, new { @class = "select kategori_kriter form-control input-sm" })
                </div>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.RadioApiId, (IEnumerable<SelectListItem>)Model.RadiosApi, new { @class = "select kategori_kriter form-control input-sm" })
                </div>
                <div class="col-md-5">
                    <input asp-for="@Model.Search" name="metin" id="metin" placeholder=" Arama ... " class="form-control input-sm">
                </div>
                <div class="col-md-1">
                    <input name="submit" type="submit" value="Ara" class="btn btn-primary form-control">
                </div>
            </div>
        </div>
    }
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">@Model.title</h6>
        <a asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Yeni Ekle </a>
    </div>


    <div class="card-body">
        @if (Model.Newsies.Count > 0)
        {

            <div class="table-responsive">
                <table class="table table-condensed table-striped table-hover" @*id="dataTable"*@ width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center hidden-xs">
                                @Html.DisplayNameFor(model => model.NewsDetail.newsId)
                            </th>

                            <th class="text-center hidden-xs"><span title="" data-toggle="tooltip" data-placement="top" data-original-title="@Html.DisplayNameFor(model => model.NewsDetail.aM)">AM</span></th>
                            <th class="text-center hidden-xs"><span title="" data-toggle="tooltip" data-placement="top" data-original-title="@Html.DisplayNameFor(model => model.NewsDetail.oC)">ÖÇ</span></th>
                            <th class="text-center hidden-xs"><span title="" data-toggle="tooltip" data-placement="top" data-original-title="@Html.DisplayNameFor(model => model.NewsDetail.hB)">HD</span></th>
                            <th class="text-center hidden-xs"><span title="" data-toggle="tooltip" data-placement="top" data-original-title="@Html.DisplayNameFor(model => model.NewsDetail.sD)">SD</span></th>
                            <th class="text-center hidden-xs"><span title="" data-toggle="tooltip" data-placement="top" data-original-title="@Html.DisplayNameFor(model => model.NewsDetail.oH)">OH</span></th>

                            <th class="text-center hidden-xs">
                                @Html.DisplayNameFor(model => model.NewsDetail.categoryTitle)
                            </th>
                            <th class="text-center hidden-xs">
                                @Html.DisplayNameFor(model => model.NewsDetail.title)
                            </th>




                            <th class="text-center hidden-xs">
                                @Html.DisplayNameFor(model => model.NewsDetail.addTime)
                            </th>

                            <th class="text-center hidden-xs">
                                @Html.DisplayNameFor(model => model.NewsDetail.viewHit)
                            </th>
                            <th class="text-center hidden-xs">
                                @Html.DisplayNameFor(model => model.NewsDetail.status)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Newsies)
                        {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.newsId)
                                </td>
                                <td class="text-center">
                                    <form asp-action="ActiveaM" asp-route-active="@item.aM" asp-route-id="@item.newsId" method="post">
                                        @if (item.aM == true)
                                        {
                                            <button type="submit" title="Status" class="btn btn-status border-0 btn-outline-success">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        }
                                        @if (item.aM == false)
                                        {
                                            <button type="submit" title="Status" class="btn btn-status border-0 btn-outline-danger">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        }
                                    </form>
                                </td>
                                <td class="text-center">

                                    <form asp-action="ActiveoC" asp-route-active="@item.oC" asp-route-id="@item.newsId" method="post">
                                        @if (item.oC == true)
                                        {
                                            <button type="submit" title="Status" class="btn btn-status border-0 btn-outline-success">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        }
                                        @if (item.oC == false)
                                        {
                                            <button type="submit" title="Status" class="btn btn-status border-0 btn-outline-danger">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        }
                                    </form>

                                </td>
                                <td class="text-center">

                                    <form asp-action="ActivehB" asp-route-active="@item.hB" asp-route-id="@item.newsId" method="post">
                                        @if (item.hB == true)
                                        {
                                            <button type="submit" title="Status" class="btn btn-status border-0 btn-outline-success">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        }
                                        @if (item.hB == false)
                                        {
                                            <button type="submit" title="Status" class="btn btn-status border-0 btn-outline-danger">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        }
                                    </form>

                                </td>
                                <td class="text-center">

                                    <form asp-action="ActivesD" asp-route-active="@item.sD" asp-route-id="@item.newsId" method="post">
                                        @if (item.sD == true)
                                        {
                                            <button type="submit" title="Status" class="btn btn-status border-0 btn-outline-success">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        }
                                        @if (item.sD == false)
                                        {
                                            <button type="submit" title="Status" class="btn btn-status border-0 btn-outline-danger">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        }
                                    </form>

                                </td>
                                <td class="text-center">
                                    <form asp-action="ActiveoH" asp-route-active="@item.oH" asp-route-id="@item.newsId" method="post">
                                        @if (item.oH == true)
                                        {
                                            <button type="submit" title="Status" class="btn btn-status border-0 btn-outline-success">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        }
                                        @if (item.oH == false)
                                        {
                                            <button type="submit" title="Status" class="btn btn-status border-0 btn-outline-danger">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        }
                                    </form>
                                </td>
                                <td class="text-center">
                                    <span class="btn btn-outline dark btn-sm black">
                                        @*@Html.DisplayFor(modelItem => item.categoryTitle)*@
                                    </span>
                                </td>
                                <td class="text-center">
                                    <small class="m-0 font-weight-light text-black">
                                        @Html.DisplayFor(modelItem => item.title)
                                    </small>
                                </td>


                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.addTime)
                                </td>

                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.viewHit)
                                </td>


                                <td class="text-center">
                                    <form asp-action="Active" asp-route-active="@item.status" asp-route-id="@item.newsId" method="post">
                                        @if (item.status == true)
                                        {
                                            <button type="submit" title="Status" class="btn dark btn-sm yellow">
                                                Aktif
                                            </button>
                                        }
                                        @if (item.status == false)
                                        {
                                            <button type="submit" title="Status" class="btn dark btn-sm red">
                                                Taslak
                                            </button>
                                        }
                                    </form>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" data-target="/ysadmin/News/ViewPreview/@item.newsId" class="btn btn-outline btn-sm purple detail">
                                        <i class="fa fa-eye"></i> İncele
                                    </a>
                                    @Html.ActionLink("Düzenle", "Edit", new { id = item.newsId }, new { @class = "btn btn-outline dark btn-sm black " }) |
                                    @Html.ActionLink("Sil", "Delete", new { id = item.newsId }, new { @class = "btn btn-outline btn-circle dark btn-sm" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div page-model="@Model.PagingInfo"></div>
        }
        else
        {
            <div class="alert text-center">
                <p>No Data</p>
            </div>
        }
    </div>
</div>

@section Scripts {
    <!-- Page level plugins -->
    <script src="/npanel/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/npanel/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/npanel/js/demo/datatables-demo.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(function () {

            $("body").on("click", ".detail", function () {
                //data-target dan url mizi al
                var url = $(this).data("target");
                //bu urlimizi post et

                $.post(url, function (data) { })
                    //eğer işlemimiz başarılı bir şekilde gerçekleşirse
                    .done(function (data) {
                        //gelen datayı .modal-body mizin içerise html olarak ekle
                        $("#modelDetail .modal-body").html(data);
                        $("#modelDetail").modal("show");

                    })
                    //eğer işlem başarısız olursa
                    .fail(function () {
                        //modalımızın bodysine Error! yaz
                        $("#modelDetail .modal-body").text("Error!!");
                        $("#modelDetail").modal("show");

                    })
            });

        })
    </script>

}



<!--begin::Modal-->
<div class="modal" id="modelDetail" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
