@model UserProfilDetailModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/ysadmin/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <div class="page-breadcrumb">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h5 class="page-title page-title-sep">@Model.FirstName @Model.FirstName</h5>
            <a href="javascript:window.history.go(-1);" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-align-left fa-sm text-white-50"></i> Geri </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Profil")
    </div>
    <div class="col-md-9">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Dağıtıcı</th>
                    <th> Claim Type</th>
                    <th> Claim Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (System.Security.Claims.Claim item in Model.Claims)
                {
                    <tr>
                        <td>@item.Subject.Name</td>
                        <td>@item.Issuer</td>
                        <td>@item.Type</td>
                        <td>@item.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

