@model ResetPasswordModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Areas/ysadmin/Views/Shared/_Layout_Account.cshtml";
}


<!--begin::Signup-->
<div class="login-form login-signup">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="text-danger">@ViewBag.ErrorMessage</div>
    }
    <!--begin::Form-->
    <form class="form" novalidate="novalidate" asp-controller="Account" asp-action="ResetPassword" method="post">
        <input type="hidden" name="Token" value="@Model.Token" />
        <input type="hidden" name="UserId" value="@Model.UserId" />

        <!--begin::Title-->
        <div class="pb-13 pt-lg-0 pt-5">
            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Sign Up</h3>
            <p class="text-muted font-weight-bold font-size-h4">Enter your details to create your account</p>
        </div>
        <!--end::Title-->
        <!--begin::Form group-->
        <div class="form-group">
            <label asp-for="Password" class="font-size-h6 font-weight-bolder text-dark"></label>
            <input asp-for="Password" value="@Model.Password" class="form-control h-auto py-7 px-6 border-0 rounded-lg font-size-h6" placeholder="Password" autocomplete="off" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group">
            <label asp-for="RePassword" class="font-size-h6 font-weight-bolder text-dark"></label>
            <input asp-for="RePassword" value="@Model.RePassword" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" placeholder="Password" autocomplete="off" />
            <span asp-validation-for="RePassword" class="text-danger"></span>
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">Submit</button>
            <a href="/ysadmin/account/login" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">Cancel</a>
        </div>
        <!--end::Form group-->
    </form>
    <!--end::Form-->
</div>
<!--end::Signup-->
