@model UserDetail

                <div class="card-body pt-4">
                    <!--begin::User-->
                    <div class="d-flex align-items-center mb-7">
                        <!--begin::Pic-->
                        <div class="flex-shrink-0 mr-4">
                            <div class="symbol symbol-circle symbol-lg-75">
                                <img src="~/img/@Model.Avatar" alt="image" />
                            </div>
                        </div>
                        <!--end::Pic-->
                        <!--begin::Title-->
                        <div class="d-flex flex-column">
                            <a href="#" class="text-dark font-weight-bold text-hover-primary font-size-h4 mb-0">@Model.FirstName @Model.LastName</a>
                            <span class="text-muted font-weight-bold">@Model.UserName</span>
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::User-->
                    <!--begin::Desc-->
                    <p class="mb-7">
                        @if (Model.EmailConfirmed)
                        {<span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">E-posta Onaylı</span>
                        }
                        else
                        { <span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">E-posta Onaysız</span>
                        }
                    </p>
                    <!--end::Desc-->
                    <!--begin::Info-->
                    <div class="mb-7">
                         <div class="d-flex justify-content-between align-items-cente my-1">
                            <span class="text-dark-75 font-weight-bolder mr-2">Phone:</span>
                            <a href="#" class="text-muted text-hover-primary">
                                @Model.PhoneNumber
                            </a>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-dark-75 font-weight-bolder mr-2">Email:</span>
                            <span class="text-muted font-weight-bold">@Model.Email</span>
                        </div>
                    </div>
                </div>
         


