@model UserList
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/ysadmin/Views/Shared/_Layout.cshtml";
}

@section style {
    <link href="/npanel/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/npanel/vendor/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
}



<!--begin::Modal-->
<div class="modal" id="modelDetail" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->



<div class="card shadow mb-4">
    @using (Html.BeginForm("Index", "Users", FormMethod.Get))
    {
        <div class="card-body">
            <div class="row">
                <div class="col-md-1">
                    <select name="limit" asp-for="@Model.Limit" id="limit" class="select limit_kriter form-control input-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="250">250</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input asp-for="@Model.Search" name="metin" id="metin" placeholder=" Arama ... " class="form-control input-sm">
                </div>
                <div class="col-md-1">
                    <input name="submit" type="submit" value="Ara" class="btn btn-primary form-control">
                </div>

            </div>
        </div>
    }
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">@Model.title</h6>
        <a asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Yeni Ekle </a>
    </div>
    <div class="card-body">
        @if (Model.users.Count > 0)
        {
            <div class="table-responsive">
                <table class="table table-condensed table-striped table-hover" @*id="dataTable"*@ width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>
                                Adı Soyadı
                            </th>
                            <th>
                                Kullanici Adı
                            </th>

                            <th>

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.users)
                        {
                            <tr role="row" class="odd @(item.EmailConfirmed?"":"warning")">
                                <td class="text-center">
                                    <div class="d-flex align-items-center pl-1">
                                        <div class="symbol symbol-50 flex-shrink-0">
                                            <img src="@item.Avatar" alt="Fotoğraf">
                                        </div>
                                        <div class="ml-3">
                                            <span class="text-dark-75 font-weight-bold line-height-sm d-block pb-2">@item.FirstName @item.LastName</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">@item.UserName</td>
                                @*<td class="text-center" user-roles="@item.Id"></td>*@
                                <td class="text-center"><a class="btn btn-sm danger font-weight-bold btn-upper btn-text" asp-action="RoleAssign" asp-route-id="@item.Id">Role Ata</a></td>
                                <td class="text-center"><a class="text-dark-50 text-hover-primary" href="mailto:@item.Email">@item.Email</a></td>
                                <td class="text-center"> <span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">@item.EmailConfirmed</span></td>
                                <td class="text-center">
                                    @if (item.LockoutEnd > Convert.ToDateTime(DateTime.Now.ToLongDateString()))
                                    {
                                        <span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">Blocked</span>
                                    }
                                    else
                                    {
                                        <span class="btn btn-light-success btn-sm font-weight-bold btn-upper btn-text">Açık</span>
                                    }
                                </td>
                                <td class="text-center">

                                    <a href="javascript:;" data-target="/ysadmin/Users/Detail/@item.Id" class="btn btn-outline btn-sm purple detail">
                                        <i class="fa fa-eye"></i> İncele
                                    </a>

                                    @Html.ActionLink("Düzenle", "Edit", new { Id = item.Id }, new { @class = "btn btn-outline dark btn-sm black " }) |

                                    <div class="btn btn-outline btn-circle dark btn-sm">
                                        <form asp-action="UserDelete" asp-route-id="@item.Id" method="post">
                                            <button type="submit" title="Delete" class="btn btn-outline btn-circle dark btn-sm">
                                                <i class="fa fa-trash"></i> Sil
                                            </button>
                                        </form>
                                    </div>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div page-model="@Model.PagingInfo"></div>
        }
        else
        {
            <div class="alert text-center">
                <p>No Data</p>
            </div>
        }
    </div>
</div>
@section Scripts {
    <!-- Page level plugins -->
    <script src="/npanel/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/npanel/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/npanel/js/demo/datatables-demo.js"></script>

    <script>

        $(function () {

            $("body").on("click", ".detail", function () {
                //data-target dan url mizi al
                var url = $(this).data("target");
                //bu urlimizi post et

                $.post(url, function (data) { })
                    //eğer işlemimiz başarılı bir şekilde gerçekleşirse
                    .done(function (data) {
                        //gelen datayı .modal-body mizin içerise html olarak ekle
                        $("#modelDetail .modal-body").html(data);
                        $("#modelDetail").modal("show");

                    })
                    //eğer işlem başarısız olursa
                    .fail(function () {
                        //modalımızın bodysine Error! yaz
                        $("#modelDetail .modal-body").text("Error!!");
                        $("#modelDetail").modal("show");

                    })
            });

        })
    </script>
}
