@model BildirViewListModel
<!-- main content -->
<div class="container-fluid">
    <div class="row row--grid news-background">
        <!-- title -->
        <div class="col-6">
            <div class="main__title main__title--page">
                <h1>@Model.title</h1>
            </div>
        </div>
        <!-- endtitle -->
        <!-- breadcrumb -->
        <div class="col-6">
            <ul class="breadcrumb">
                <li class="breadcrumb__item"><a asp-controller="Home">Anasayfa</a></li>
                <li class="breadcrumb__item breadcrumb__item--active">@Model.title</li>
            </ul>
        </div>
        <!-- end breadcrumb -->
    </div>
    <div class="row row--grid">
        <div class="col-md-12">
            @if (TempData["message"] != null)
            {
                <partial name="_resultmessage" model="@(TempData.Get<ResultMessage>("message"))" />
            }
        </div>
        <div class="col-lg-offset-2 col-12 col-lg-6 col-xl-6">
            @using (Html.BeginForm("Save", "Bildir", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "sign__form sign__form--contacts" }))
            {
                <div class="offer-form">
                    <h2 class="form-caption">
                        <span>Hata Bildirim Formu</span>
                    </h2>
                    <p class="form-info">
                        <span><b>formu doldurun</b> Uygulama ile ilgili hataları bizlere bildirmek isterseniz. Aşağıdaki formu doldurunuz. Bu bildirimler sayesinde uygulamayı daha iyi bir hale getirmek istiyor.</span>
                    </p>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="sign__group">
                            @Html.TextBoxFor(m => m.Bildir.name, new { @class = "sign__input", @placeholder = "Adınız soyadınız." })
                            @Html.ValidationMessageFor(model => model.Bildir.name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="sign__group">
                            @Html.TextBoxFor(m => m.Bildir.email, new { @class = "sign__input", @placeholder = "E-posta adresiniz." })
                            @Html.ValidationMessageFor(model => model.Bildir.email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="sign__group">
                            @Html.TextAreaFor(m => m.Bildir.message, new { @class = "sign__textarea", @placeholder = "Uygulama hatalarını bize yazınız." })
                            @Html.ValidationMessageFor(model => model.Bildir.message, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-12 col-xl-3">
                        <button type="submit" class="sign__btn">Hata Gönder</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>